.shop_card {
  position: relative;
}
.shop_card img {
  width: 100%;
  height: auto;
}
.shop_content .shop_title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6000000238418579px;
  color: #121212;
  margin-bottom: 12px;
}
.shop_content {
  position: absolute;
  bottom: 48px;
  left: 48px;
}
