body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  color: #121212;
}
body h2 {
  font-size: 72px;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -2px;
  color: #121212;
}
h3 {
  font-size: 54px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
  color: #121212;
}
h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4000000059604645px;
  color: #121212;
}
h5 {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6000000238418579px;
  color: #121212;
}
h6 {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.6000000238418579px;
  color: #121212;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body a {
  color: inherit;
  text-decoration: none;
}
 
